
<!-- <div style="text-align:center">
  <h1>Welcome In App component page</h1>
  <h1>Welcome to {{title}}</h1>
  <h1>{{title}} has total {{noofemployees}} employees.</h1>
  <h1>Addition of {{a}} and {{b}} is {{c1}} using 1st method</h1>
  <h1>Addition of {{a}} and {{b}} is {{a+b}} using 2nd method</h1>
</div>
<h1>Image in index.html page</h1>
<img src="assets/images/logo.png"/> -->

<!-- <app-employee></app-employee> -->
<!-- <app-newcomponent></app-newcomponent> -->
<!-- <app-reactivevalidation></app-reactivevalidation> -->
<!-- <app-modelform></app-modelform> -->
<!-- <app-customvalidator></app-customvalidator> -->


<!-- <a routerLink="/departments">Department</a><br>
<a routerLink="/employees">Employee</a><br>
<router-outlet></router-outlet> -->


<app-employeelistt></app-employeelistt>
<app-employeedetail></app-employeedetail>

